@page
@model Unik.WebApp.Pages.MinSide.IndexModel
@{
}

@if (User.HasClaim(a => a.Type == "Tekniker") || User.HasClaim(a => a.Type == "Konsulent") || User.HasClaim(a => a.Type == "Konverter"))
{
    <h2>@Model.MedarbejderModel.Navn's' side</h2>
    <form method="post">
        <table class="table">
            <tbody>
            @if (@Model.MedarbejderModel.OpgaverListe !=null)
            {
                foreach (var booking in Model.MedarbejderModel.OpgaverListe)
                {
                     
                    <tr>
                        <th>Booking id</th>
                        <th>Opgave Id</th>
                        <th>Start Dato</th>
                        <th>Slut Dato</th>
                        <th>Type af opgave</th>
                    </tr>
                    <tr>
                        <td> @booking.booking?.Id</td>
                        <td> @booking.booking?.OpgaveId</td>
                        <td> @booking.booking?.StartDato.ToString("dd/MM/yyyy")</td>
                        <td> @booking.booking?.SlutDato.ToString("dd/MM/yyyy")</td>
                        <td> @booking.Type</td>
                    </tr>
                }
            }
                @if (@Model.MedarbejderModel.KompetenceListe != null)
                {
                    foreach (var kompetence in Model.MedarbejderModel.KompetenceListe)
                    {
                        
                        <tr>
                            <th>kompetence id</th>
                            <th>kompetence Navn</th>
                        </tr>
                        <tr>
                            <td> @kompetence.KompetenceId</td>
                            <td> @kompetence.KompetenceNavn</td>
                            <td> @Model.MedarbejderModel.Navn</td>
                        </tr>
                    }
                }
            <tr>
                <th></th>
            </tr>
            </tbody>
        </table>
        <a asp-page="./TilføjKompetence" asp-route-id="">Tilføj kompetence</a>
    </form>
}
else
{
    <h2>ÆV DU SKAL IKKE NOGET HERINDE</h2>
}
