@page
@model Unik.WebApp.Pages.MinSide.IndexModel
@{
}

@if (User.HasClaim(a => a.Type == "Tekniker"))
{
    <form method="post">
        <table class="table">

            <br>
            <thead>
            <tr>
                <th>ID</th>
                <th>Navn</th>
                <th>Projekt Id</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            @if (Model.OpgaveIndexViewModels.Any())
            {
                foreach (var opgave in Model.OpgaveIndexViewModels)
                {
                    <tr>
                        <td> @opgave.Id </td>
                        <td> @opgave.Navn </td>
                        <td>@opgave.ProjektId</td>
                    </tr>
                }
            }
            </tbody>
        </table>
    </form>
}
@if (User.HasClaim(a => a.Type == "Kunde"))
{
        <form method="post">
            <table class="table">

                <br>
                <thead>
                <tr>
                    <th>Projekt Id</th>
                    <th>Sælger Id</th>
                    <th>Kunde Id</th>
                    <th>Noter</th>
                </tr>
                </thead>
                <tbody>
                @if (Model.OpgaveIndexViewModels.Any())
                {
                    foreach (var projekt in Model.ProjektIndexViewModels)
                    {
                                <tr>
                                    <td> @projekt.Id </td>
                                    <td> @projekt.SalesId </td>
                                    <td> @projekt.kundeID </td>
                                    <td> @projekt.Noter </td>
                                </tr>
                    }
                }
                </tbody>
            </table>
        </form>
}
