@page
@model Unik.WebApp.Pages.MinSide.IndexModel
@{
}

@if (User.HasClaim(a => a.Type == "Tekniker") || User.HasClaim(a => a.Type == "Konsulent") || User.HasClaim(a => a.Type == "Konverter"))
{
    <h2>@Model.MedarbejderModel.Navn's' side</h2>
    <form method="post">
        <table class="table">
            <tbody>
            @if (@Model.MedarbejderModel.BookingListe !=null)
            {
                foreach (var booking in Model.MedarbejderModel.BookingListe)
                {
                     
                    <tr>
                        <th>Booking</th>
                        <th>Opgave Id</th>
                        <th>Start Dato</th>
                        <th>Slut Dato</th>
                    </tr>
                    <tr>
                        <td></td>
                        <td> @booking.OpgaveId</td>
                        <td> @booking.StartDato.ToString("dd/MM/yyyy")</td>
                        <td> @booking.SlutDato.ToString("dd/MM/yyyy")</td>
                        <td>
                                <a asp-page="./OpgaveDetails" asp-route-id="@booking.OpgaveId">se detaljer for opgaven -></a>
                        </td>
                    </tr>
                }
            }
                @if (@Model.MedarbejderModel.KompetenceListe != null)
                {
                    foreach (var kompetence in Model.MedarbejderModel.KompetenceListe)
                    {
                        
                        <tr>
                            <th>kompetence Navn</th>
                            <th>kompetence type</th>
                        </tr>
                        <tr>
                            <td> @kompetence.Navn</td>
                            <td> @kompetence.Type</td>
                        </tr>
                    }
                }
            }
            <tr>
                <th></th>
            </tr>
            </tbody>
        </table>
        <a asp-page="./TilføjKompetence" asp-route-id="">Tilføj kompetence</a>
    </form>
}
else
{
    <h2>ÆV DU SKAL IKKE NOGET HERINDE</h2>
}
