@page
@model Unik.WebApp.Pages.Medarbejder.IndexModel
@{
}

<form metod="post">
    <br />
    <h1>Oversigt over medarbejder</h1>
    <hr style="height:1px;border:none;color:#000000;background-color:#000000; opacity: 1" />
    <div class="col-sm-10">
    </div>
    <br>
    <table class="table">
        <thead>
            <tr>
            <th>Id</th>
            <th>Navn</th>
            <th>Email</th>
            <th>Tlf</th>
            <th>Titel</th>
                <th></th> //filler til Edit og Delete snippets så de også får sort kan over sig 
            </tr>
        </thead>
        <tbody>
            @if (Model.IndexGetAllViewModel.Any())
            {
                foreach (var medarbejder in Model.IndexGetAllViewModel)
                {
                    <tr>
                        <td>@medarbejder.Id</td>
                        <td>@medarbejder.Navn</td>
                        <td>@medarbejder.Email</td>
                        <td>@medarbejder.Tlf</td>
                        <td>@medarbejder.Titel</td>
                        <td>
                            <a asp-page="./Edit" asp-route-id="@medarbejder.Id">Edit</a> |
                            <a asp-page="./Delete" asp-route-id="@medarbejder.Id">Delete</a>
                        </td>
                    </tr>

                }

            }
        </tbody>
    </table>
  <a asp-page="Create" class="btn btn-success rounded">Opret ny</a>

</form>