@page
@model Unik.WebApp.Pages.Kunde.DetailsModel
@{
}
<h1>Kompetencer!</h1>
<table class="table">
    <thead>
    <tr>
        <th>Id</th>
        <th>Navn</th>
        <th>Virksomheds navn</th>
        <th>Tlf</th>
        <th>Email</th>
    </tr>
    </thead>
    <tbody>
    @if (Model.DetailsViewModel.Any())
    {
        foreach (var kunde in Model.DetailsViewModel)
        {
            <tr>
                <td>@kunde.Id </td>
                <td>@kunde.Navn </td>
                <td>@kunde.VirksomhedsNavn</td>
                <td>@kunde.Tlf</td>
                <td>@kunde.Email</td>
            </tr>
        }
    }
    </tbody>
</table>