@page
@model Unik.WebApp.Pages.Kunde.DetailsModel
@{
}
<br />
<h1>Kunde detaljer</h1>
<section class="form-group row">
</Section>
<table class="table">
    <thead>
    <tr>
        <th>Id</th>
        <th>Navn</th>
        <th>Virksomheds navn</th>
        <th>Tlf</th>
        <th>Email</th>
        <th>Projekt Id</th>
    </tr>
    </thead>
    <tbody>
        <tr>
                <td>@Model.DetailsViewModel.Id </td>
                <td>@Model.DetailsViewModel.Navn </td>
                <td>@Model.DetailsViewModel.VirksomhedsNavn</td>
                <td>@Model.DetailsViewModel.Tlf</td>
                <td>@Model.DetailsViewModel.Email</td>
                <td>@Model.DetailsViewModel.ProjektId</td>
        </tr>
    </tbody>
</table>