@page
@model Unik.WebApp.Pages.Projekt.DetailsModel
@{
}
<form metod="post">
    <br />
    <h1>Oversigt over projekter</h1>
    <hr style="height:1px;border:none;color:#000000;background-color:#000000; opacity: 1" />
    <section class="col-sm-10">
    </section>
    <table class="table">
        <thead>
        <tr>
            <th>Projekt Id</th>
            <th>Noter</th>
            <th>Sælger ID</th>
            <th>Kunde ID</th>
            <th>Antal Boliger</th>
            <th></th>

        </tr>
        </thead>
        <tbody>
        @if (Model.DetailsViewModel.Any())
        {
            foreach (var projekt in Model.DetailsViewModel)
            {
                <tr>
                    <td>@projekt.Id</td>
                    <td>@projekt.Noter</td>
                    <td>@projekt.SalesId</td>
                    <td>@projekt.kundeID</td>
                    <td>@projekt.AntalBoliger</td>

                    @if (@projekt.Opgaver !=null)
                    {

                        <thead>
                        <tr>
                            <th>Opgave id</th>
                            <th>Opgave navn</th>
                            <th>Opgave medarbejder id</th>
                        </tr>
                        </thead>
                        
                        <tbody>

                        @foreach (var opgave in projekt.Opgaver)
                        {
                            <tr>
                                <td>@opgave.Id</td>
                                <td>@opgave.Navn</td>
                                <td>@opgave.MedarbejderId</td>
                            </tr>
                        }
                        </tbody>
                    }
                    <td>
                        <a asp-page="Index" type="submit" class="btn btn-info rounded">Tilbage til oversigt</a>
                    </td>
                </tr>
            }
        }
        </tbody>
    </table>
</form>