@page
@model Unik.WebApp.Pages.Booking.IndexModel
@{
}
<form metod="post">
    <table class="table">
        <br />
        <h1>Oversigt over booking</h1>
        <hr style="height:1px;border:none;color:#000000;background-color:#000000; opacity: 1" />
        <div class="col-sm-10">
        </div>
        <br>
        <thead>
            <tr>
                <th>Medarbejder</th>
                <th>Type</th>
                <th>StartDato</th>
                <th>SlutDato</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @if (Model.BookingIndexViewModels.Any())
            {
                foreach (var booking in Model.BookingIndexViewModels)
                {
                    <tr>
                        <td>@booking.MedarbejderNavn</td>
                        <td>@booking.MedarbejderTitel</td>
                        <td>@booking.StartDato</td>
                        <td>@booking.SlutDato</td>
                        <td>
                            <!--<Snippet_Delete>-->
                            <a class="btn" asp-page="./Delete" asp-route-id="@booking.Id">Delete</a>
                            <!--<Snippet_Delete>-->
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</form>