@page
@model Unik.WebApp.Pages.Kunde.IndexModel
@{
}
<form metod="post">
    <table class="table">
        <br />
        <h1>Oversigt over booking</h1>
        <hr style="height:1px;border:none;color:#000000;background-color:#000000; opacity: 1" />
        <div class="col-sm-10">
        </div>
        <br>
        <thead>
        <tr>
            <th>Kunde Id</th>
            <th>Virksomhed</th>
            <th>Navn</th>
            <th>Email</th>
            <th>Telefon nummer</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        @if (Model.KundeIndexViewModels.Any())
        {
            foreach (var kunde in Model.KundeIndexViewModels)
            {
                <tr>
                    <td>@kunde.Id</td>
                    <td>@kunde.VirksomhedNavn</td>
                    <td>@kunde.Navn</td>
                    <td>@kunde.Email</td>
                    <td>@kunde.Tlf</td>
                    <td>
                        <!--<Snippet_Edit>-->
                        <a class="btn" asp-page="./Edit" asp-route-id="@kunde.Id">Edit</a>
                        <!--<Snippet Edit>-->
                        <!--<Snippet_Delete>-->
                        <a class="btn" asp-page-handler="./Delete" asp-route-id="@kunde.Id">Delete</a>
                        <!--<Snippet_Delete>-->
                    </td>

                </tr>

            }

        }
        </tbody>

    </table>
    <a asp-page="Create" class="btn btn-success rounded">Opret ny</a>
</form>