@page
@model Unik.WebApp.Pages.Booking.IndexModel
@{
}
<form metod="post">
    <table class="table">
        <thead>
            <tr>
                <th>Medarbejder</th>
                <th>Opgave</th>
                <th>StartD</th>
                <th>Telefon Nummer</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.BookingIndexViewModels.Any())
            {
                foreach (var booking in Model.BookingIndexViewModels)
                {
                    <tr>
                        <td>@booking.</td>
                        <td>@booking.StartDato</td>
                        <td>@booking.StartDato</td>
                        <td>@booking.StartDato</td>
                        <td>
                            <!--<Snippet_Delete>-->
                            <a class="btn" asp-page-handler="./Delete" asp-route-id="@booking.">Delete</a>
                            <!--<Snippet_Delete>-->
                        </td>

                    </tr>

                }

            }
        </tbody>

    </table>
    <a asp-page="Create">Create now</a>
</form>